/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/11/2021, 03:25:17 PM
    Author     : Dahiana_
*/


.registrar{
    font-size:1.5vw;
    
}

#caja{
    height: 100px;
    color: transparent;

}

#cajaTransparente{
    height:30px;
    color: transparent;
    float:left;
}

#cajaRegistro{
     background:rgb(12, 213, 172);
     float:left;
     
}

#rectangle{
    height: 150px;
    background:rgb(12, 213, 172);
    position: relative;
    display: inline-block;
}

#encabezado{
    
    color: white;
    font-family: arial, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 25px;
    left: 50px;
}
#mano{
    
    position: absolute;
    top: 45px;
    left: 430px;
}
.menu{
    
    font-family: arial, sans-serif;
    font-size: 250%;
    padding: 1em; 
    color: black;
    float: left;
    
}

a{color: black;}

.texto-encima{
    position: absolute;
    top: 5px;
    left: 800px;
}


.boton{
    line-height:1.5em;
}


 


@media only screen and (min-width:600px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}  
    

}